<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="CommanderClientID" value="51d5822669914849aef96f971d44edae" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="CommanderClientSecret" value="25420c7327c14550b55879fa1152c53a" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="CommanderRedirectUri" value="http://commanderdemoclient.azurewebsites.net/home/authorized" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
